@import './index.css';

.container-main{
    width: 500px;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(2,50%);
    margin-top: 10;
    /*? Buscador  */
    /* searchbar-container */
    position: absolute;
    top: 40px;
    right: 0px;
    background-color: rgba(22, 22, 23, 0.93);
    backdrop-filter: saturate(180%) blur(20px);
    padding: 10px;
    border: 0.5px solid rgba(22, 22, 23, .8);
    border-radius: 10px;
}

.container-searcher{
    grid-row: 1;
    color: white;
}

.dropdown-menu1{
    color: white;
    display: grid;
    grid-column: 2;
    grid-row: 1;
    justify-items: end;
}

.dropdown-item-button{
    color: white;
    display: grid;
    justify-items: end;
    align-items: center;
    width: 50%;
    clear: both;
    font-weight: 400;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.search-match{
    display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(2,50%);
    color: white;
    max-height: 350px;
}

.search-match p {
    display: grid;
    justify-items: start;
    align-items: center;
}

.container-searcher-2{
    color: white;
    display: grid;
    grid-column: 2;
    grid-row: 2;
}

.container-searcher-2 p {
    display: grid;
    justify-items: end;
    align-items: end;
    color: var(--text-general-2);
}

@media (max-width: 640px){

    .container-main{
        width: 350px;
        margin-top: 38.6px;
    }
}