@import './index.css';

.container{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(1,auto);
    margin-top: 60px;
    height: 90vh; 
}

.info-containers-left{
    border-radius: 15px;
    color: white;
    grid-column: 1;
    grid-row: 1;
    /* margin: 15px; */
    margin-top: -40px;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3,auto);
    background-image: url('https://images.unsplash.com/photo-1558611997-dd5b20e08c71?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80" alt="imagen');
    background-size: cover;
}

.info-containers-left:hover{
    transform: scale(1.01);
}

.info-containers-left h1{
    grid-row: 2;
    display: grid;
    justify-items: center;
    align-items: center;
}   

.info-containers-left a{
    color: white;
    font-size: 50px;
    text-decoration: none;
}   

.info-containers-left a:hover {
    transform: scale(1.1);
}

.info-containers-right{
    grid-column: 2;
    color: black;
    display: grid;
    justify-content: center;
    background-color: #f5f5f7;
    border-radius: 10%;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4,auto);
    
}

.info-containers-right h1{
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 0;
    grid-row: 2;
    grid-gap: 0;
    color: #6059ff;
    margin-left: 30px;
}

.info-containers-right h3{
    display: grid;
    justify-content: center;
    align-content: start;
    grid-row: 3;
    color: #3b36ae;
    margin: 0;
}

.info-containers-right p{
    display: grid;
    justify-items: center;
    align-content: end;
    grid-row: 4;
}

.info-containers-right p a{
    
    color: #6059ff;
    text-decoration: none;
}

.info-containers-right a:hover{
    transform: scale(1.2);
}

.container-2{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3, auto);
    margin-top: 60px;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1466779561253-0a08336ba2ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80');
    background-size: cover;
    width: 100%;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
}

.info-containers-left-2{
    display: flex;
    justify-content: center;
    align-content: center;
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3, auto);
}

.text-promo{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 1;
}

.text-promo-bajo{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row:3;
}

/* ? Mobile */
@media (max-width: 640px){
    .container{
        grid-template-columns: 100%;
    }
    .info-containers-left{
        height: 70vh;
    }
    .info-containers-right{
        grid-column: 1;
    }


    .container-2{
        grid-template-columns: 100%;
    }
    .info-containers-left-2{
        grid-template-columns: 100%;
    }
    .text-promo{
        grid-column: 1;
        display: grid;
        justify-items: center;
    }
    .text-promo-bajo{
        grid-column: 1;
        display: grid;
        justify-items: center;
    }
}
