@import './index.css';

.titulo-center{
  margin-top: 60px;
  background-color: #6b48ff;
}

.titulo-center h1{
  display: flex;
  justify-content: center;
  align-content: center;
}

/*! Estilos para el contenido */
.container-about {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2,50%);
  grid-template-rows: repeat(2,50%);
  height: 110vh;
}

/*! Primera Parte */
.banner-1{
  display: grid;
  grid-column: 1;
  grid-row: 1;
  background-color: #f2f4f6;
  background-size: fill;
  border-radius: 70px;
}

.img-about-container-1{
  display: grid;
  grid-column: 2;
  grid-row: 1;
}

.img-about-1 {
  display: grid;
  justify-items: center;
  align-items: center;
}

.img-about-1 img{
  width: 75%;
  height: auto;
  object-fit: fill;
  border-radius: 40px;
  overflow: hidden;
}

/*! Segunda Parte */

.banner-2 {
  display: grid;
  grid-column: 1;
  grid-row: 2;
  background-color: #f2f4f6;
  background-size: contain;
  border-radius: 70px;
}

.img-about-container-2 {
  display: grid;
  grid-column: 2;
  grid-row: 2;
}

.img-about-2 {
  display: grid;
  justify-items: center;
  align-items: center;
}

.img-about-2 img{
  width: 75%;
  max-height: auto;
  object-fit: fill;
  border-radius: 40px;
  overflow: hidden;
}

/*! Estilos para el pie de página */
footer {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

footer p {
  font-size: 1rem;
}

/*! Mobile */

@media (max-width: 840px) {
  .container-about {
    display: grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(4,auto);
  }

  .img-about-container-1{
    grid-column: 1;
    grid-row: 2;
  }

  .banner-2 {
    grid-row: 3;
  }

  .img-about-container-2{
    grid-column: 1;
    grid-row: 4;
  }
}