@import './index.css';

.ProductDetail {
    /* width: 360px; */
    /* width: 100%; */
    height: 90vh;
    padding-bottom: 24px;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.733);
    display: grid;
    place-items: center;
    z-index: 100;
}

.ProductDetail-close {
    background: var(--white);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
}

.ProductDetail-close:hover {
    cursor: pointer;
}

.ProductDetail>img:nth-child(2) {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}

@media (max-width: 640px) {
    .ProductDetail {
        width: 100%;
    }
}
