@import './index.css';

.product-image{
    background-color: rgba(98, 102, 102, 0.616);
}

/* ? Contenedor del detalle del producto */
.product-info-2 {
    background-color: rgba(98, 102, 102, 0.616);
    display: grid;
    grid-column: 2;
    grid-row: 1;
    align-content: center;
    justify-items: center;
    width: 90%;
    max-height: 500px;
    border-radius: 20px;
    padding: 15px;
}

.product-info-2 img{
    width: 20px;
    grid-column: 2;
}

.product-info-2 p:nth-child(1) {
    font-weight: bold;
    color: white;
    margin-top: 15px;
    margin-bottom: 16px;
    font-size: 40px;
}

.product-info-2 p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 16px;
    background-color: rgba(98, 102, 102, 0.425);
    width: 100%;
}

.product-info-2 p:nth-child(3) {
    color: white;
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 36px;
    font-size: 35px;
}

.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    display: flex;

}

.primary-button img {
    display: flex;
    justify-content: start;
    align-items: start;
    filter: invert(100%);
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 640px) {
    .product-info-2 {
        display: grid;
        grid-column: 1;
        grid-row: 2;
        overflow: hidden;
    }

    .product-image{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: o auto;
    }

    .product-info-2 p:nth-child(1) {
        font-weight: bold;
        color: white;
        font-size: 25px;
        display: flex;
    }

    .product-info-2 p:nth-child(2) {
        color: var(--very-light-pink);
        font-size: 20px;
        background-color: rgba(98, 102, 102, 0.425);
        width: 100%;
    }
    
    .product-info-2 p:nth-child(3) {
        color: white;
        font-size: var(--sm);
        margin: 0;
        font-size: 35px;
    }
    
    .primary-button {
        width: 100%;
    }
}

