@import './index.css';

/* ? Contenedor de la pantalla completa */
.ProductDetail {
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(2,auto);
    padding-bottom: 24px;
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.692);
    display: grid;
    grid-column: 1;
    place-items: center;
    height: 100vh;
    z-index: 100;
}

.ProductDetail-close {
    /* background: var(--white); */
    width: 14px;
    height: 14px;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
}

.ProductDetail-close img {
    width: 30px;
    position: relative;
    right: 28px;
    bottom: 20px;
    filter: invert(100%);
}

.ProductDetail-close:hover {
    cursor: pointer;
}


/* ? Container de la Imagen del producto */
.ProductDetail>img:nth-child(2) {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    align-items: center;
    justify-items: center;
    width: 75%;
    max-height: none;
    object-fit: contain;
    border-radius: 20px;
    padding: 25px;
}

@media (max-width: 640px) {

    .ProductDetail {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(1, 35%);
        z-index: 100;
    }
    
    .ProductDetail>img:nth-child(2) {
        display: grid;
        margin-top: 60px;
        max-height: 275px;
        width: 325px;
        object-fit: contain;
        padding: 0px;
    }
}
