@import './index.css';

.container-body{
    box-sizing: border-box;
    margin-top: 60px;
    width: 100%;
    height: 50vh;
    background-color: #298EEA;
    color: #444444;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.card-1{
    margin: 15px;
    width: auto;
    height: auto;
    border-radius: 25px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-column: 1/3;
    grid-row: 2/4;
    background-color: #FFFFFF;
    overflow: hidden;
}

.container-body-2{
    margin-top: 60px;
    width: 100%;
    height: 150vh;
    background-color: #28CC75;
}
